body {
    margin: 0;
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

.container {
    height: 700px; 
    width: 500px;
    background-color: #2e2e2e;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-container {
    padding: 40px;
    border-radius: 8px;
    text-align: center;
}

.logo {
    background-color: #ED7D31;
    color: white;
    width: 60px;
    height: 60px;
    margin: 0 auto 20px;
    display: flex;
    justify-content: center;
    align-items: center
}

input {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #ED7D31;
    color: white;
    cursor: pointer;
    font-size: 16px;
}


button:hover {
    background-color: #E26714;
}
